body{
    background-color: #d7dae2;
}
h1 {
    background: linear-gradient(90deg,#22D3EE,#3B82F6,#8B5CF6,rgb(239, 219, 255));
    background-clip: text;
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    opacity: 0.9;
    text-align:center ;
    font-family: sans-serif;
    font-size: 4em;
    font-weight: bold;
}
p{
    text-align: center;
    font-size: 0.9rem;
    font-family: serif;
    color: rgb(248, 238, 225);

}
.hero{
    background-color: #1e3157;
    width: 100%;
    border: 1px white;
    border-radius: 24px;
    box-sizing: border-box;
}
.hbtn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}
.btnh{
    background-color: #000000;
    color: aliceblue;
    border: 1px white;
    border-radius:24px;
    padding: 18px;
}
   
.navi ul{
    display: flex;
    gap: 1rem;
    list-style: none;
    flex-wrap: wrap;
   
}
.nav li{
    color: rgb(255, 231, 231);
    font-size: 1em;
   
}
.products{
    color: rgb(65, 58, 53);
}
.prd{
    color: rgb(48, 39, 54);
    text-align: left;
    font-size: 2rem;
}
.info{
    color: rgb(88, 70, 47);
    text-align: left;
    font-size: 1rem;
    font-family: serif;
    font-family: sans-serif;
    font-weight: bold;
    opacity:0.7;
}
.container{
    display:flex;
    gap: 1em;
   
}
.cards1{
    flex: 1;
    border: 2px solid rgb(43, 37, 37);
    border-radius: 24px;
}
.cards2{
    flex: 1;
    border: 2px solid rgb(29, 26, 26);
}
.cards h2{
    font-size: 1rem;
    font-family: fantasy;
    color: rgb(65, 56, 56);
}
.cards p{
    font-size: 0.999rem;
    text-align: right;
}
.cards button{
    border: 1px  wheat;
    border-radius: 24px;
    border-width: 12px;
    float: right;
    font-size: 1rem;
    padding: 1em;
    color: rgb(0, 0, 0);
}
.shop h2{
    text-align: left;
    color: beige;
}
.catagories{
    display: flex;
   justify-content: center;
   align-items: center;
   gap: 1em;
   width: 100%;
   background-color: rgba(255, 255, 255,0.3);
   border: 1px solid white;
  
   
}