body{
    background-color: rgb(255, 255, 255);
}
.navbar ul{
   list-style: none;
   display: flex;
   align-items: center;
   justify-content: flex-end;
   gap: 1.3em;
   border: 1px rgb(255, 251, 251);
   border-radius: 6px;
   box-shadow: 10px 10px 20px rgb(170, 162, 162),
   -10px -10px 20px rgb(216, 208, 208);
   box-sizing: border-box;
   padding: 8px;
   flex-wrap: wrap;
}
.hero{
    width: 100%;
    min-height: 100dvh;
    text-wrap: balance;
    border: 1px black;
    min-height: 80dvh;
    background-color: rgba(211, 208, 214, 0.527);
    box-shadow: 10px 10px 20px rgba(114, 106, 106, 0.74) ,-10px -10px 20px rgba(189, 189, 189, 0.541);
    border-radius: 16px;
    margin-top: 16px;
}
.hero h1{
    text-align: center;
    font-size: clamp(4rem,7vw,5.5rem);
    background: linear-gradient(120deg,#2563EB,#06B6D4,#7C3AED);
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: 1.5em;
}
.products{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 1.5em;
    border: 1px solid black;
}
.btnh{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;

}
.btnh button{
    font-size: 1.2em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 1px white;
    border-radius: 16px;
    box-shadow: 4px 4px 6px #b8c7dd,-4px -4px 6px #f8f0f0;
    padding: 8px;
    background:#E0E4E7;

}
.btnh button:hover{
    box-shadow: -4px -4px 8px #c5c5c5,4px 4px 8px #fff;
    transition-duration: 0.5s;
    transform: scale(1.05);
}
.btnh button:active{
    transform: scale(0.95);
}
